html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 44px;
    font-family: 'Audiowide', cursive;
    color: cornsilk;
     /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #45484d 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.jumbotron {
    background: transparent;
}

#loginmessage {
    color: green;
}

#notauser {
    color: green;
    background: yellow;
}

h1 {
    font-family: 'Faster One', cursive;
}

input.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

button:focus {
    outline: 0;
}

.radio:hover, .radio-inline:hover {
    background-color: rgb(138, 100, 180);
    color: white;
}

.container > .navbar-default {
  margin-top: 1px;
  background-color: transparent;
}
.container > .navbar-default .navbar-brand , .container > .navbar-default .navbar-nav > li > a{
  color: cornsilk;
}
.navbar-static-top{
  border: 0px;
}
.navbar-brand {
  height: 53px;
}
.navbar-default .navbar-nav li > a , .navbar-header > .navbar-brand > a{
  border-bottom: 3px solid transparent;
  transition: border-bottom .25s ease;
}

.navbar .navbar-brand:hover {
  color: chartreuse;
  background-color: darkmagenta;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #e74c3c;
    border-bottom: 3px solid deepmagenta;
    transition-property: none;
}

.navbar-default .navbar-nav {
    font-family: 'Faster One', cursive;
    border-left: 10px solid black;
}
